@tailwind base;
@tailwind components;
@tailwind utilities;

input{
    padding: 4px;
    outline: none;
    border: none;
    background: transparent;
}

input::placeholder{
    text-transform: capitalize;
}

::-webkit-scrollbar{
    display: none;
}